body{
  background-color: #232323;
  margin:0;
  font-family: "Montserrat","Avenir";
  line-height: 1.1;
}
* {
    padding: 0;
    margin: 0;
}
canvas {
    background: #eee;
    display: block;
    margin: 0 auto;
}
h1{
  color:white;
  text-align: center;
  background-color: steelblue;
  margin:0;
  text-transform: uppercase;
  font-weight: normal;
  padding:20px 0;

}
h2{
  color:white;
  text-align: center;
  background-color: steelblue;
  margin:0;
  text-transform: uppercase;
  font-weight: normal;
  padding:20px 0;

}
